body {
    margin: 0px;
    font-family: "Michroma", sans-serif;
    color: white;
}

.hero-section {
    background: linear-gradient(to bottom right, rgb(245, 2, 2), rgb(58, 12, 12));
    margin: 0px;
    display: flex;
    flex-flow:  row wrap;
    align-items: center;


    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;

}

.hero-section img {
    max-width: 800px;
    max-height: 800px;
}

.map-section {
    background-color: rgb(255, 102, 0);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    align-content: center;
    flex-flow: row wrap;
    font-size: 40px;
    flex-direction: column;
    gap: 20px;

}

.titre {
    font-size: 40px;
    
}

section {
    height: 100vh;
}

p {
    font-size: 30px;
}

.about-section {
    background-color: rgb(230, 166, 71);
    display: flex;
    align-items: center;
    align-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: row wrap;
    gap: 70px;

}

.burger {
    position: absolute;
    right: 60px;


}

.map-section img {
    max-width: 100px;
    max-height: 100px;
}

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.flex-wrap>div {
    flex: 1 1 200px;
    background: #e0e0e0;
    padding: 20px;
    margin: 4px;
}

.socials{
    display: flex;

}